body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(260deg,rgba(187, 204, 221, 0.733),rgba(184, 206, 211, 0.67));
    overflow: hidden;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    width: 40vh;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    border-bottom: 0.5px solid darkgray;
    padding-top: 10px;
    padding-bottom: 20px;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field{
    position: relative;
    border-bottom: 1px solid rgb(179, 175, 175);
    margin: 30px 0;
}

.text_field input{
    width: 100%;
    padding: 0 10px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .text_field input:focus ~ label,
  .text_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .text_field input:focus ~ span::before,
  .text_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #ffc107;
    border-radius: 25px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  
